<body style="margin: 0; font-family: sans-serif;">
    <div style="display: flex; margin: 0 auto; justify-content: center;
        align-items: center; font-family: sans-serif; background-color: black; color: white;">
        <img src="https://assets.stickpng.com/images/586a4d7a45f8680c051c1c95.png" width="50.4px" height="70.8" style="padding: 10px; padding-top: 0px; object-fit: cover;">
        <h1 style="padding: 10px;"><strong>CSIS Protection Key</strong></h1>
    </div>
    <p style="text-align: center; font-size: 20px;">
        The Canadian Security Intelligence Service verification system has approved your request for a special key.<br>
        Failure to follow protection agreements will result in a revoked key.<br>
        <strong>Don't forget to remove "csis key csis protection key request" from your about info.</strong>
        <br>
        
        Your protection key is:</p>
    <h1 style="text-align: center; color:#004165; font-size: 50px;"><strong><%= key %></strong></h1>
    <p style="text-align: center; font-size: 20px;">Please contact vanilla#8531 if you have any problems.</p>
</body>